In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
y=pd.read_csv("calories.csv")
x=pd.read_csv("exercise.csv")
y=y.drop(["User_ID"],axis = 1)
x=x.drop(["User_ID"],axis=1)

In [5]:
x.head()

   Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0    male   68   190.0    94.0      29.0       105.0       40.8
1  female   20   166.0    60.0      14.0        94.0       40.3
2    male   69   179.0    79.0       5.0        88.0       38.7
3  female   34   179.0    71.0      13.0       100.0       40.5
4  female   27   154.0    58.0      10.0        81.0       39.8

In [6]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      15000 non-null  object
 1   Age         15000 non-null  int64
 2   Height      15000 non-null  float64
 3   Weight      15000 non-null  float64
 4   Duration    15000 non-null  float64
 5   Heart_Rate  15000 non-null  float64
 6   Body_Temp   15000 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 820.4+ KB

In [7]:
l=LabelEncoder()
x["Gender"]=l.fit_transform(x["Gender"])
x.head()

   Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0       1   68   190.0    94.0      29.0       105.0       40.8
1       0   20   166.0    60.0      14.0        94.0       40.3
2       1   69   179.0    79.0       5.0        88.0       38.7
3       0   34   179.0    71.0      13.0       100.0       40.5
4       0   27   154.0    58.0      10.0        81.0       39.8

In [8]:
x.isna().sum()

Gender        0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
dtype: int64

In [9]:
x=x.iloc[:,:-1].values
y=y.iloc[:,-1].values

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state = 4)

In [11]:
from sklearn.ensemble import RandomForestRegressor
R=RandomForestRegressor(n_estimators = 100, random_state = 0)
R.fit(x_train,y_train)
y_pred=R.predict(x_test)
from sklearn.metrics import r2_score
MSE = r2_score(y_test, y_pred)
print(MSE)

0.9978757354460684

In [12]:
from sklearn.model_selection import cross_val_score
cross_val_score(R,x_train,y_train,cv=20).mean()

0.9980008185010757